<div class="health-check-header">
    <div class="health-check-title-section">
        <h1 style="margin: 24px 0; padding: 0;">{{ t("Settings") }}</h1>
    </div>
</div>

<hr class="wp-header-end"/>

