.idea/
node_modules/
vendor/

cache/

public/app/languages/
public/app/upgrade/
public/app/uploads/
public/tw/dist/
public/wp/wp-content/

# Temporary
public/app/plugins
public/app/themes/gerritkomrijcollege
public/app/themes/studiovierentwintig

.DS_Store
config.json
