[submodule "vendor/Columba"]
	path = vendor/Columba
	url = https://github.com/basmilius/Columba
[submodule "vendor/Cappuccino"]
	path = vendor/Cappuccino
	url = https://github.com/basmilius/Cappuccino
