@use "~@latte-ui/css/src/api" as *;

#main-footer
{
    position: relative;
    display: block;
    background: #{color-no-variable(primary)};
    color: #{color-no-variable(primary-on)};

    &-tagline
    {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;

        @include responsive-down(md)
        {
            font-size: 21px;
        }
    }

    .btn
    {
        padding: #{gutter-get(5) - 1px} #{gutter-get(8) - 1px};
        font-weight: 400;

        @include responsive-down(md)
        {
            width: 100%;
        }
    }
}

#copyright-footer
{
    position: relative;
    display: block;
    background: #{color-no-variable(secondary)};
    color: #{color-no-variable(secondary-on)};
}
