<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="noindex"/>
    <meta name="viewport" content="width=device-with, initial-scale=1.0"/>
    <title>Fatal Error &mdash; TypeWriter</title>
    <link rel="stylesheet" href="https://font.mili.us/css2?family=apple-sf-pro-text"/>
    <style>
        body {display: flex;margin: 0;min-height: 100vh;font-family: apple-sf-pro-text, sans-serif;font-size: 17px;}
        main {position: relative;margin: auto;max-width: 540px;width: calc(100vw - 48px);}
        h1 {color: #ef4444;font-size: 24px;}
        hr {margin: 30px 0;border: 0;border-top: 3px solid #e5e7eb;}
        p {line-height: 27px;}
        a {color: #0b63e9;text-decoration-color: #e5e7eb;}
        a:hover {text-decoration-color: initial;}
    </style>
</head>
<body>
<main>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="54" width="54">
        <path fill="#ef4444" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path>
    </svg>

    <h1>Fatal Error</h1>
    <p>
        This website is currently not available due to an error. Our tech support
        is already working on a fix. Please check back in about an hour or so!
    </p>
    <hr/>
    <p style="font-size: .8rem">
        This website is powered by <a href="https://github.com/glybe/typewriter" rel="noopener" target="_blank">TypeWriter</a>.
    </p>
</main>
</body>
</html>
