{# !
 # @author Bas Milius <bas@ideemedia.nl>
 # @template Standaard template
#}

{%- controller "\\TypeWriter\\Twig\\Controller\\PostController" %}

{%- header %}

<div class="py-1px" id="featured-image" style="background-image: url({{ post.thumbnailUrl("featured-image") }})">
    <div class="container mt-auto">
        <h1 class="mx-7 lg:mx-11 my-7">{{ post.title | raw }}</h1>
    </div>
</div>

<div class="container my-4 lg:my-10">

    <div class="panel bg-base-light">
        <div class="row no-gutter m-7 lg:m-11">
            <div class="col-12 lg:col-8 typography-default">

                {{ post.content(["the_content"]) | raw }}

            </div>
            <div class="col-12 lg:col-4 pl-6 d-flex flex-column mt-7 lg:mt-0">

                {% for item in post.relationIterator("sidebar", "tolk-sidebar") %}
                    {{ item.content(["the_content"]) | raw }}
                {% endfor %}

            </div>
        </div>
    </div>

</div>

{%- footer %}
