.wp-block[data-type="tw/structure-grid"]
{
    --grid-width: 1000px;

    max-width: var(--grid-width);
    width: var(--grid-width);
}

.tw-block-grid
{
    position: relative;
    counter-reset: grid-columns;

    > .block-editor-inner-blocks > .block-editor-block-list__layout
    {
        position: relative;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        flex-flow: row nowrap;
        gap: 15px;
        overflow: hidden;

        > [data-type="tw/structure-column"]
        {
            margin: 0;
        }
    }

    .block-list-appender
    {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 24px;
        width: 48px !important;

        .block-editor-button-block-appender
        {
            margin: 0;
        }
    }

    .tw-block-column
    {
        position: relative;
        display: block;
        margin: 0;
        padding: 15px;
        width: 100%;
        border-collapse: collapse;
        counter-increment: grid-columns;

        > .block-editor-inner-blocks
        {
            margin: -15px 0;
        }

        @for $i from 1 through 12
        {
            &.preview-xs.col-#{$i}
            {
                width: calc((var(--grid-width) + 30px - ((var(--grid-columns) - 1) * 15px)) / 12 * #{$i});
            }

            &.preview-sm.sm\:col-#{$i}
            {
                width: calc((var(--grid-width) + 30px - ((var(--grid-columns) - 1) * 15px)) / 12 * #{$i});
            }

            &.preview-md.md\:col-#{$i}
            {
                width: calc((var(--grid-width) + 30px - ((var(--grid-columns) - 1) * 15px)) / 12 * #{$i});
            }

            &.preview-lg.lg\:col-#{$i}
            {
                width: calc((var(--grid-width) + 30px - ((var(--grid-columns) - 1) * 15px)) / 12 * #{$i});
            }

            &.preview-xl.xl\:col-#{$i}
            {
                width: calc((var(--grid-width) + 30px - ((var(--grid-columns) - 1) * 15px)) / 12 * #{$i});
            }
        }
    }

    /*&.has-child-selected*/
    .tw-block-column
    {
        outline: 2px dashed #f0f0f0;
        outline-offset: -1px;
    }
}
